
index.js

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family:  Geneva, Verdana, sans-serif;
    /*background-color: #47bb730e;*/
    color: #101010;
    padding: 20px;
  }
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  main {
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
    color: #0a5c07;
    background-color: #80f0a5;
    border-radius: 5px;
  }
  h2 {
    text-align: center;
    font-size: 1.7em;
    color: #0a5c07;
  }
  h3 {
    text-align: center;
    font-size: 1.2em;
    color: #0a5c07;
  }
  h4 {
    font-size: 1.6em;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  li a {
    text-decoration: none;
    color: #12610f;
    font-size: 1.0em;
    transition: color 0.3s ease;
  }
  p{
    font-family:  Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: auto;
  }
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  .links-box {
    background-color: #88d486;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  .links-box ul {
    list-style-type: none;
    padding: 0;
  }
  .links-box ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .links-box ul li a:hover {
    color: #FF4500;
    text-decoration: underline;
  }
  ul li {
    margin: 10px 0;
  }
  ul li a {
    text-decoration: none;
    color: #187514;
    font-size: 1.2em;
    font-weight: 600;
    transition: color 0.4s ease;
  }
  ul li a:hover {
    color: #5dc23e;
  }